<table cellspacing="0" cellpadding="0" width="750px">
    <tr>
        <td colspan="6" style="text-align:center;padding:0px">
            <h1>Karan Motor Company</h1>
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center;">
            Showroom: Thapathali 4226722, Pulchwock 554828
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center;">
            Corporate Office: Chaudhary Towers, Jhamsikhel, Lalitpur
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center;">
           Tel No: 5545891-5 Fax No. 5546223
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:center; font-weight:bold">
           TPIN : 500026700
        </td>
    </tr>
    <tr>
        <td colspan="6" style="padding-bottom:10px;text-align:center; font-weight:bold;border-bottom-style: dotted;">
            Tax Invoice
        </td>
    </tr>
    
    
    <tr>
        <td style="font-weight:bold;padding-top:20px">M/s</td>
        <td colspan="2" style="width:400px;padding-top:20px">HARI KRISHNA THAPA CHHETRI</td>
        <td colspan="2" style="padding-top:20px;padding-left:160px">BillNo</td>
        <td style="padding-top:20px"><span style="padding-right:10px">:</span><input type="number" style="width:144px"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">KATHMANDU, NEPAL</td>
        <td colspan="2" style="padding-top:10px;padding-left:160px">Date</td>
        <td  style="padding-top:10px"><span style="padding-right:10px">:</span><input type="date"></td>
    </tr>
    <tr>
        <td style="font-weight:bold">A/c.</td>
        <td colspan="2">HARKI KRISHNA THAPA CHHETRI</td>
        <td colspan="2" style="padding-top:10px;padding-left:160px">Miti</td>
        <td  style="padding-top:10px"><span style="padding-right:10px">:</span><input type="date"></td>
    </tr>
    <tr>
        <td style="padding-top:10px">TPIN</td>
        <td colspan="5" style="padding-top:10px">:</td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:10px">Mode of Payment</td>
        <td colspan="4" style="padding-top:10px"><span style="padding-right:50px">:</span>Cash/Chique/Credit</td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:10px">Delivery Term</td>
        <td colspan="4" style="padding-top:10px">:</td>
    </tr>
    
    
    <tr>
        <td colspan="6" style="border-bottom-style: dotted;padding-bottom:10px"></td>
    </tr>
    
    
    <tr>
        <td style="width:50px;text-align:center;vertical-align:top;padding-top:20px">S.No</td>
        <td colspan="2" style="width:500px;padding-top:20px;">Particulars</td>
        <td style="width:100px;padding-top:20px;text-align:center">Qty.</td>
        <td style="width:100px;padding-top:20px;text-align:center">Rate</td>
        <td style="width:100px;padding-top:20px;text-align:center">Amount</td>
    </tr>
    <tr>
        <td style="padding-top:20px;text-align:center;vertical-align:top;padding-top:20px">1</td>
        <td style="width:80px;padding-top:20px">
            <p>Model</p>
            <p>Colour</p>
            <p>Chasis No</p>
            <p>Engine No</p>
            <p>Reg No.</p>
        </td>
        <td style="vertical-align:top;padding-top:20px">
            <p>:MARUTI ALTO K10 VXI</p>
            <p>: SILKY SLIVER</p>
            <p>: 269047</p>
            <p>: 7727586</p>
            <p></p>
        </td>
        <td style="width:100px;text-align:center;vertical-align:top;padding-top:20px">1</td>
        <td style="width:110px;text-align:center;vertical-align:top;padding-top:20px">1,676,106.19</td>
        <td style="width:130px;text-align:center;vertical-align:top;padding-top:20px">1,67,106.1</td>
    </tr>
    <tr>
        <td colspan="6" style="padding-top:20px;">
            (With Standard Accessories)
        </td>
    </tr>
    
    
    <tr>
        <td colspan="6" style="border-bottom-style: dotted;padding-bottom:10px"></td>
    </tr>
    
    

    <tr>
        <td rowspan="5" colspan="4" style="padding-top:20px">
            <p>In Words</p>
            <p>NRS Eighteen Lakh Ninety-FOur Thousand Only</p>
        </td>
        <td style="padding-top:20px">Total</td>
        <td style="padding-top:20px"><span style="padding-right:10px">:</span><input type="number" placeholder="Total"></td>
    </tr>
     <tr>
        <td style="padding-top:10px">Less Discount</td>
        <td style="padding-top:10px"><span style="padding-right:10px">:</span><input type="number" placeholder="Less Discount"></td>
    </tr>
    <tr>
        <td style="padding-top:10px">Taxable Amount</td>
        <td style="padding-top:10px"><span style="padding-right:10px">:</span><input type="number" placeholder="Taxable Amount"></td>
    </tr>
    <tr>
        <td style="padding-top:10px">VAT @ 13%</td>
        <td style="padding-top:10px"><span style="padding-right:10px">:</span><input type="number" placeholder="Vat @ 13%"></td>
    </tr>
    <tr>
        <td style="padding-top:10px">Grand Total</td>
        <td style="padding-top:10px"><span style="padding-right:10px">:</span><input type="number" placeholder="Grand Total"></td>
    </tr>
    
    
    <tr>
        <td colspan="6" style="border-bottom-style: dotted;padding-bottom:10px"></td>
    </tr>
    
    
    <tr style="font-weight:bold;">
        <td colspan="5" style="padding-top:10px;padding-left:450px">For:</td>
        <td style="padding-top:10px"><span style="padding-right:10px">:</span>Karan Motor Co. Pvt.Lt</td>
    </tr>
    <tr>
        <td colspan="4">
            <p style="padding-top:80px">--------------------------</p>
        </td>
        <td colspan="2">
            <p style="padding-top:80px;padding-left:150px">---------------------------</p>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <p style="padding-top:5px">Customer Signature</p>
        </td>
        <td colspan="2">
            <p style="padding-left:160px;padding-top:5px">Authorised Signature</p>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <p style="padding-top:5px;font-weight:bold">E. & O.E.</p>
        </td>
    </tr>
</table>