
<img src="images/logo/suzuki-logo.jpg" style="height:100px">
<img src="images/logo/cgMotoCorp-logo.jpg" style="width:220px;padding-left:350px">
<table  width="750px" cellspacing="5px">
    
   <!-- <tr>
        <td colspan="2"><img src="images/logo/suzuki-logo.jpg" style="height:100px"></td>
        <td colspan="2" style="padding-left:px"><img src="images/logo/cgMotoCorp-logo.jpg" style="width:220px"></td>
    </tr>-->
    
    <tr>
        <td colspan="4" align="right">Date:.............................</td>
    </tr>
    
    <tr>
        <td colspan="4" style="padding-left:230px"><h2 style="text-decoration:underline">DELIVERY SHEET</h2></td>
    </tr>
    
    <tr>
        <td style="width:190px;font-weight:bold">Name</td>
        <td colspan="3">:</td>
    </tr>
    
    <tr>
        <td style="font-weight:bold">Address</td>
        <td colspan="3">:</td>
    </tr>
    
    <tr>
        <td style="font-weight:bold">Mobile</td>
        <td colspan="3">:</td>
    </tr>
    
    
    <tr>
        <td colspan="4" style="padding-left:10px">
            We are pleased to inform you that your order of one unit vehicle is ready for delivery at our authorized at Pulchwok, Kathmandu Tel:(977-1) 5547165/6. The details of the vehicles are as fallows:-
        </td>
    </tr>
    
    <tr>
        <td style="font-weight:bold">SR Price:</td>
        <td colspan="3"><input type="text" placeholder="Sr Price"></td>
    </tr>
    
    <tr>
        <td style="font-weight:bold">Model:</td>
        <td><input type="text" placeholder="Model"></td>
        <td style="font-weight:bold">Engine No:</td>
        <td><input type="text" placeholder="Engine No"></td>
    </tr>
    
    <tr>
        <td style="font-weight:bold">Color:</td>
        <td><input type="text" placeholder="Color"></td>
        <td style="font-weight:bold">Chasis No:</td>
        <td><input type="text" placeholder="Chasis No"></td>
    </tr>
    

    <tr>
        <td colspan="4" style="padding-left:10px">The fallowing equipment,tools and accessories will be issued along with the vehicle:</td>
    </tr>
    
    <tr>
        <td style="padding-left:40px">
            Spare wheel with tyre.<br>
            Spare Key
        </td>
        <td style="padding-left:40px">
            Wheel Wrench<br>
            oue outside mirror
        </td>
        <td style="padding-left:40px">
            Jack and Handle<br>
            Room Mirror
        </td>
        <td style="padding-left:40px;padding-bottom:18px">
            Owner's ,manual
        </td>
    </tr>
    
    <tr>
        <td colspan="4" style="padding-left:10px">Please note that vehicle, its equipment, tools and accessories, once handed over will not be taken back, any claims other than manufacturing defects as per warrenty policy, arising after the delivery of the vehicle wll not be entertained by us.</td>
    </tr>
    
    <tr>
        <td colspan="4" style="font-weight:bold;padding-top:50px;">Thanking You,</td>
    </tr>
    
    <tr>
        <td colspan="4" style="padding-top:20px">
            ..........................................<br>
            (Authorized Signatory)
        </td>
    </tr>
    
    <tr>
        <td style="padding-top:20px">
            Customer's Acceptance:
        </td>
        <td colspan="3" style="padding-top:20px">
            I have inspected the above mentioned vehicle including the equipment tools and acceessories in <span style="font-weight:bold">the presence of the wprkshop authority and found them in good condition. I have signed this as the</span> Confirmation note for full acceptance.
        </td>
    </tr>
    
    <tr>
        <td colspan="4" style="font-weight:bold;padding-left:520px;padding-top:50px;">
            Signature: ..................................
        </td>
    </tr>
    
    <tr>
        <td style="font-weight:bold;padding-left:20px;font-size:14px">
            Showroom
        </td>
        <td colspan="3" style="padding-top:20px;padding-left:20px;font-size:14px">
            Maruti Plaza, Pulchwok,Kathmandu, Nepal Tel.(977-1)5547165, 5547166, 5525066 Fax:(977-1)5548429, E-mail:maruti@wink.com.np Mailing Address: P.O.BOX: 4896, Kathmandu
        </td>
    </tr>
    
    <tr>
        <td  style="font-weight:bold;padding-left:20px;font-size:14px">
            Service Station:
        </td>
        <td colspan="3" style="padding-left:20px;font-size:14px">
            Pulchwok, Lalitpur Tel: (977-1) 5545907 <span style="padding:left:100px">Dealers Network:</span>
        </td>
    </tr>
</table>