
<img src="images/logo/suzuki-logo.jpg" style="height:100px" alt="logo">
<table  cellspacing="0" cellpadding="7" style="width:750px">
    <tr>
        <td colspan="3" style="text-align:center;text-decoration:underline">
            <h1>VEHICLE DETAILS</h1>
        </td>
    </tr>
    
    <tr style="font-weight:bold">
        <td style="width:120px">Date</td>
        <td style="width:10px">:</td>
        <td></td>
    </tr>
    
    <tr style="font-weight:bold">
        <td>M/s</td>
        <td>:</td>
        <td></td>
    </tr>
    
    <tr style="font-weight:bold">
        <td>Date</td>
        <td>:</td>
        <td></td>
    </tr>
    
    <tr>
        <td colspan="3" style="padding-top:20px">
            <p>Dear Sir/Madam,</p>
            <p>The details of vehicle are mentioned as below:</p>
        </td>
    </tr>
    
    <tr>
        <td style="padding-top:30px">Model</td>
        <td>:</td>
        <td></td>
    </tr>
    
    <tr>
        <td>Model</td>
        <td>:</td>
        <td></td> 
    </tr>
    <tr>
        <td>Engine No</td>
        <td>:</td>
        <td></td> 
    </tr>
    <tr>
        <td>Chasis No</td>
        <td>:</td>
        <td></td> 
    </tr>
    <tr>
        <td>Regestration No</td>
        <td>:</td>
        <td></td> 
    </tr>
    <tr>
        <td>Color</td>
        <td>:</td>
        <td></td> 
    </tr>
    <tr>
        <td>Mfg Year</td>
        <td>:</td>
        <td></td> 
    </tr>
    
    <tr>
        <td  colspan="3" style="font-weight:bold;padding-top:50px">Thanking you,</td>
    </tr>
    <tr>
        <td colspan="3" style="font-weight:bold;padding-top:20px">..............................</td>
    </tr>
    <tr>
        <td colspan="3" style="font-weight:bold;padding-top:40px">Yours Faithfully</td>
    </tr>
    
    
    <tr>
        <td colspan="3"  style="border:1px solid black;padding-top:20px">
            <p>
                Note: We request you to arrange for the transfer of ownership of the above mentioned vehicle in your bank's name as per the requirement and make payment to us upon completion of regestration.
            </p>
            <p>
                Please contact following person for Ownership transfer ONLY.
            </p>
            <p>
                Mr. Basanta Mishra #9841161323
            </p>
            <p>
                Mr. Wosti Jee #9841540775
            </p>
        </td>
    </tr>
    
</table>
