/************************************
* AdminLTE Extened
*************************************/

.dropdown-menu > li > a:hover {
	background-color: #3c8dbc;
	color: #f9f9f9!important;
}

.content-header > h1 {
	font-size: 18px;
	padding-left: 2px;
	text-transform: uppercase;
}
.content-header > h1 > small {
	font-size: 13px;
	padding-left: 5px;
}

.btn-box-tool {
	color: #fff!important;
}

.table { margin-bottom: 0px;}